@import url("reset.css");
*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	-webkit-box-sizing:border-box;
}
a,img{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:focus{
	outline:none;
}
html,body,.box{
	width:100%;
	height:100%;
	overflow:hidden;
}
body{
	font-size:16px;
}
.box{
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
main{
	width:100%;
	height:100%;
	padding-top:.3rem;
	p{
		width:100%;
		&:nth-of-type(1){
			height:.53rem;
			img{
				display:block;
				width:.53rem;
				height:.53rem;
				margin:0 auto;
			}
		}
		&:nth-of-type(2){
			height:.41rem;
			color:#25AFEE;
			text-align:center;
			line-height:.41rem;
			font-size:.18rem;
		}
		&:nth-of-type(3){
			width:90%;
			height:.7rem;
			margin:0 auto;
			font-size:.14rem;
			color:#676767;
			line-height:.2rem;
		}
		&:nth-of-type(4){
			width:90%;
			height:.36rem;
			margin:0 auto;
			span{
				font-size:.14rem;
				line-height:.36rem;
				text-align:center;
				float:left;
				width:40%;
				height:100%;
				&:nth-of-type(1){
					background:#23AEF1;
					color:#fff;
					border-radius:.05rem;
				}
				&:nth-of-type(2){
					float:right;
					color:#23AEEF;
					border:1px solid #23AEEF;
					border-radius:.05rem;
				}
			}
		}
	}
}
