
.top{
	width: 100%;
	background: #E3E6E9;
}
.top_one{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 38px;
}
.top_one span a{
	color: red;
}
.top_one li{
	float: left;
	line-height: 30px;
	margin-right: 15px;
}
.top_one ul{
	float: right;
	margin-right: 100px;
}
.box{
	width: 1200px;
	margin: 0 auto;
}
.header{
	height: 44px;
	margin-bottom: 38px;
}
.header .txt1{
	width: 170px;
	height: 31px;
	border: none;
	background: url(../img/TXT.png);
	border-radius: 5px;
	overflow: hidden;
	padding-left: 7px;
}
.header .btn1{
	width: 34px;
	height: 31px;
	border: none;
	background: url(../img/btn1.png);
	cursor: pointer;
}
.header img{
	margin-right: 60px;
}
hr{
	width:100%;
	color: red;
	font-size: 3px;
}
.header a{
	font-size: 16px;
	float: right;
	margin-right: 20px;
	margin-top: 7px;
}
.header .a{
	background: url(../img/dh.png) no-repeat left;
	padding-left: 20px;
}
.xhx{
	margin-bottom: 40px;
}
.header span{
	font-size: 16px;
	float: right;
	color:red;
	display: inline-block;
	height: 30px;
	width:100px;
	border: 1px solid yellow;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}
.logo{
	width: 1200px;
	height: 350px;
	margin-bottom: 10px;
	background: #FEC470;
	border-radius: 20px;
}
.logo_L{
	width: 116px;
	float: left;
	height: 120px;
	margin-left: 20px;
	margin-top: 30px;
}
.logo_L img{
	display:inline-block;
	border-radius: 20px;
}
.logo_R{
	width: 967px;
	height: 313px;
	float: right;
	position: relative;
	overflow: hidden;
	margin-right: 30px;
	padding-top: 17px;
	z-index: 20;
}
.logo_R li{
	float: left;
	width: 967px;
	height: 330px;
}
#list1 img{
	float: left;
}
#box3 li{
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	background: url(../img/xb.png);
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
#box3 ol{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 100;
}
#box2{
	width: 967px;
	position: absolute;
	background: #000;
	opacity: 0.5;
	bottom: 0px;
	z-index: 10;
	height: 46px;
	line-height: 46px;
}
#box2 span{
	color: #fff;
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
}
#box4 p{
	width: 600px;
	height: 46px;
	display: none;
}
#box4{
	width: 600px;
	height: 46px;
	overflow: hidden;
}
#box3 .bg{
	background: #008EB1;
}
.tz{
	width: 1200px;
	border-top: 2px solid red;
	padding-top: 10px;
}
.tz .l_one{
	font-size: 20px;
}
.tz ul{
	width: 220px;
	height: 80px;
	float: left;
	margin-left: 55px;
}
.tz li{
	width: 220px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
}
.jiaoliu{
	width: 1120px;
	clear: both;
	height: 92px;
	margin-bottom: 50px;
	padding-left: 80px;
	padding-top:30px;
	border-top: 5px solid #EBEBEB;
}
.jiaoliu dl{
	width: 346px;
	height: 90px;
	float: left;
}
.jiaoliu dt{
	float: left;
	margin-right: 20px;
}
.jiaoliu dd{
	float: left;
	width: 146px;
	height: 28px;
	text-align: left;
}
.jiaoliu .big{
	font-size: 16px;
}
.jiaoliu p{
	line-height: 30px;
}
.jiaoliu .dl{
	background: url(../img/xian.png) no-repeat left;
	padding-left: 40px;
}
.xm{
	height:120px;
	text-align: center;
	margin-bottom: 20px;
	clear: both;
}
.xm h1,h3{
	line-height: 40px;
	color:#666;
}
.t_left{
	width: 377px;
	height: 250px;
	float: left;
	margin-right: 10px;
}
.t_right{
	width: 800px;
	height: 250px;
	border:1px solid #ccc;
	float: right;
	position: relative;
}
.t_right h3{
	width: 780px;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
}
.t_right h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 15px;
}
.t_right h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.t_right .db img{
	margin-bottom: 3px;
}
.t_right ol{
	margin-left: 15px;
	width: 785px;
	float: left;
}
.t_right ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	
	line-height: 24px;
	text-align: center;
}
.t_right .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.t_right ol li a{
	color: #FF6666;
}
.t_right .sx a{
	color: #76E3C7;
}
.t_right h4{
	width: 780px;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
.t_right h4 img{
	margin-right: 10px;
}
.t_right h4 span{
	margin-left: 10px;
}
.t_right h4 .xxh{
	float: right;
	color: red;
	margin-right: 300px
}
.t_right h5{
	width: 600px;
	height: 3px;
	background: #ccc;
	clear: both;
	position: relative;
	margin-left: 20px;
	border-radius: 1px;
}
.t_right h5 b{
	position: absolute;
	display: inline-block;
	height: 3px;
	background:red;
	border-radius: 2px;
}
.t_right ul{
	width: 150px;
	height: 60px;
	border-right: 1px solid #ccc;
	margin-left: 20px;
	float: left;
	margin-right: 20px;
}
.t_right ul li{
	text-align: left;
	width: 150px;
	line-height: 30px;
}
.t_right .wr{
	border: none;
}
.t_right .rg{
	position: absolute;
	width: 90px;
	height: 36px;
	background: #FF6666;
	border-radius: 10px;
	border: none;
	right:60px;
	top:90px;
	color:#fff;
	font-size: 20px;
	cursor: pointer;
}
.m_top{
	margin-bottom: 20px;
	float: left;
}
.m_bottom{

float: left;
}
.xm_main{
	margin-bottom: 50px;
	float: left;
}
#blue{
	background: blue;
}
.m_two{
	width: 1200px;
	clear: both;
	margin-bottom: 15px;
}
.mt_left{
	width: 386px;
	height: 477px;
	float: left;
	border:1px solid #E3E6E9;
	text-align: center;
	position: relative;
	margin-right: 12px;
	margin-bottom: 30px;
}
.mt_left h4 a{
	font-weight: normal;
	color: #FF6666;
}
.mt_left h4 img{
	margin-right: 10px;
}
.mt_left h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mt_left ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mt_left ol li a{
	color: #FF6666;
}
.mt_left .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mt_left .sx a{
	color: #76E3C7;
}
.mt_left #lastli{
	margin-left: 150px;
}
.mt_left ul{
	float: left;
	margin-bottom: 12px;
}
.mt_left ul li{
	float: left;
	margin-left: 15px;
}
.mt_left h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mt_left h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 73px;
	margin-left: 43px;
}
.mt_left h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mt_left .rg{
	position: absolute;
	width: 90px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:147px;
	bottom:8px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}
.mt_center{
	width: 386px;
	height: 477px;
	float: left;
	border:1px solid #E3E6E9;
	text-align: center;
	position: relative;
	margin-right: 12px;
}
.mt_center h4 a{
	font-weight: normal;
	color: #FF6666;
}
.mt_center h4 img{
	margin-right: 10px;
}
.mt_center h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mt_center ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mt_center ol li a{
	color: #FF6666;
}
.mt_center .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mt_center .sx a{
	color: #76E3C7;
}
.mt_center #lastli{
	margin-left: 150px;
}
.mt_center ul{
	float: left;
	margin-bottom: 12px;
}
.mt_center ul li{
	float: left;
	margin-left: 15px;
}
.mt_center h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mt_center h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 73px;
	margin-left: 43px;
}
.mt_center h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mt_center .rg{
	position: absolute;
	width: 90px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:147px;
	bottom:8px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}
.mt_right{
	width: 386px;
	height: 477px;
	float: left;
	border:1px solid #E3E6E9;
	text-align: center;
	position: relative;
}
.mt_right h4 a{
	font-weight: normal;
	color: #FF6666;
}
.mt_right h4 img{
	margin-right: 10px;
}
.mt_right h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mt_right ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mt_right ol li a{
	color: #FF6666;
}
.mt_right .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mt_right .sx a{
	color: #76E3C7;
}
.mt_right #lastli{
	margin-left: 150px;
}
.mt_right ul{
	float: left;
	margin-bottom: 12px;
}
.mt_right ul li{
	float: left;
	margin-left: 15px;
}
.mt_right h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mt_right h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 73px;
	margin-left: 43px;
}
.mt_right h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mt_right .rg{
	position: absolute;
	width: 90px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:147px;
	bottom:8px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}
.xm .cg{
	color: #FF8F2C;
	margin-right: 30px;
}
.xm span{
	margin-left: 30px;
}
.m_three{
	width: 1200px;
	float: left;
	margin-bottom: 36px;
}
.mr_left{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mr_left h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mr_left h4 img{
	margin-right: 10px;
}
.mr_left h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mr_left ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mr_left ol li a{
	color: #FF6666;
}
.mr_left .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mr_left .sx a{
	color: #76E3C7;
}
.mr_left #lastli{
	margin-left: 52px;
}
.mr_left ul{
	float: left;
	margin-bottom: 12px;
}
.mr_left ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mr_left h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mr_left h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mr_left h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mr_left .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}



.mr_center_o{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mr_center_o h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mr_center_o h4 img{
	margin-right: 10px;
}
.mr_center_o h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mr_center_o ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mr_center_o ol li a{
	color: #FF6666;
}
.mr_center_o .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mr_center_o .sx a{
	color: #76E3C7;
}
.mr_center_o #lastli{
	margin-left: 52px;
}
.mr_center_o ul{
	float: left;
	margin-bottom: 12px;
}
.mr_center_o ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mr_center_o h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mr_center_o h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mr_center_o h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mr_center_o .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}


.mr_center_t{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mr_center_t h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mr_center_t h4 img{
	margin-right: 10px;
}
.mr_center_t h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mr_center_t ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mr_center_t ol li a{
	color: #FF6666;
}
.mr_center_t .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mr_center_t .sx a{
	color: #76E3C7;
}
.mr_center_t #lastli{
	margin-left: 52px;
}
.mr_center_t ul{
	float: left;
	margin-bottom: 12px;
}
.mr_center_t ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mr_center_t h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mr_center_t h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mr_center_t h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mr_center_t .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}


.mr_right{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mr_right h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mr_right h4 img{
	margin-right: 10px;
}
.mr_right h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mr_right ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mr_right ol li a{
	color: #FF6666;
}
.mr_right .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mr_right .sx a{
	color: #76E3C7;
}
.mr_right #lastli{
	margin-left: 52px;
}
.mr_right ul{
	float: left;
	margin-bottom: 12px;
}
.mr_right ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mr_right h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mr_right h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mr_right h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mr_right .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}








.m_four{
	width: 1200px;
	float: left;
	margin-bottom: 36px;
}
.mf_left{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mf_left h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mf_left h4 img{
	margin-right: 10px;
}
.mf_left h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mf_left ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mf_left ol li a{
	color: #FF6666;
}
.mf_left .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mf_left .sx a{
	color: #76E3C7;
}
.mf_left #lastli{
	margin-left: 52px;
}
.mf_left ul{
	float: left;
	margin-bottom: 12px;
}
.mf_left ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mf_left h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mf_left h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mf_left h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mf_left .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}



.mf_center_o{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mf_center_o h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mf_center_o h4 img{
	margin-right: 10px;
}
.mf_center_o h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mf_center_o ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mf_center_o ol li a{
	color: #FF6666;
}
.mf_center_o .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mf_center_o .sx a{
	color: #76E3C7;
}
.mf_center_o #lastli{
	margin-left: 52px;
}
.mf_center_o ul{
	float: left;
	margin-bottom: 12px;
}
.mf_center_o ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mf_center_o h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mf_center_o h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mf_center_o h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mf_center_o .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}


.mf_center_t{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mf_center_t h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mf_center_t h4 img{
	margin-right: 10px;
}
.mf_center_t h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mf_center_t ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mf_center_t ol li a{
	color: #FF6666;
}
.mf_center_t .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mf_center_t .sx a{
	color: #76E3C7;
}
.mf_center_t #lastli{
	margin-left: 52px;
}
.mf_center_t ul{
	float: left;
	margin-bottom: 12px;
}
.mf_center_t ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mf_center_t h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mf_center_t h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mf_center_t h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mf_center_t .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}


.mf_right{
	width: 287px;
	height: 445px;
	border: 1px solid #E3E6E9;
	float: left;
	text-align: center;
	position: relative;
	margin-right:10px; 
}
.mf_right h4 a{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.mf_right h4 img{
	margin-right: 10px;
}
.mf_right h4 span{
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
}
.mf_right ol li{
	width: 85px;
	height: 24px;
	border-radius: 9px;
	border:#FF6666 solid 1px;
	float: left;
	margin-left: 5px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.mf_right ol li a{
	color: #FF6666;
}
.mf_right .sx{
	border-radius: 9px;
	border:#76E3C7 solid 1px;
	float: left;
	margin-left: 5px;
	color: #76E3C7;
	line-height: 24px;
	text-align: center;
}
.mf_right .sx a{
	color: #76E3C7;
}
.mf_right #lastli{
	margin-left: 52px;
}
.mf_right ul{
	float: left;
	margin-bottom: 12px;
}
.mf_right ul li{
	float: left;
	margin-left: 15px;
	line-height: 25px;
}
.mf_right h3{
	line-height: 35px;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}
.mf_right h3 span{
	float: right;
	display: inline-block;
	width: 60px;
	height: 22px;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	line-height: 22px;
	margin-right: 45px;
	margin-left: 23px;
}
.mf_right h3 img{
	margin-bottom: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.mf_right .rg{
	position: absolute;
	width: 60px;
	height: 27px;
	background: #FF8F2C;
	border-radius: 12px;
	border: none;
	right:112px;
	bottom:4px;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}

.footer li{
	float: left;
	background: url(../img/dtiao.png) no-repeat left;
	padding-left: 40px;
	margin-right: 40px;
	margin-left: -1px;
	margin-top: 15px;
}
.footer ul{
	width: 1200px;
	overflow: hidden;
}
.footer dd{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
}
.footer{
	margin-bottom: 50px;
}
.footer dt{
	cursor: pointer;
}

#mc{
	background: #000;
	opacity: 0.5;
	position: absolute;
	z-index: 1000;
}
#dl{
	width: 350px;
	height: 270px;
	background:#fff;
	position: fixed;
	z-index:1200;
	left:50%;
	top:50%;
	margin-left: -175px;
	margin-top: -135px;
	font-size: 20px;
	text-align: center;
	display: none;
}
#dl span{
	margin-left: 300px;
	margin-top: 3px;
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}
#dl p{
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
}
#dl input{
	margin-bottom: 10px;
}
#dl #btn{
	width: 80px;
	height: 30px;
	border: none;
	background: blue;
	color: #fff;
	margin-top: -10px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#help{
	width: 153px;
	position: fixed;
	right:5px;
	top:300px;
	z-index: 200;
	display: none;
}
#h_right{
	width: 40px;
	float: right;
}
#h_right img{
	cursor: pointer;
}
#h_left{
	width: 110px;
	height: 112px;
	overflow: hidden;
	float: left;


}
#h_left li{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: red;
	line-height: 30px;
	display: none;
	cursor: pointer;
}