@import url("reset.css");
*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	-webkit-box-sizing:border-box;
}
a,img{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:focus{
	outline:none;
}
html,body,.box{
	width:100%;
	height:100%;
	overflow:hidden;
}
body{
	font-size:16px;
}
.box{
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	width:100%;
	height:.44rem;
	background:#75bc00;
	position:relative;
	-webkit-flex-shrink:0;
	a{
		position:absolute;
		width:.25rem;
		height:.25rem;
		&:nth-of-type(1){
			background:url(../img/home.png) no-repeat;
			background-size:100% 100%;
			top:.09rem;
			left:.1rem;
		}
		&:nth-of-type(2){
			background:url(../img/huiyuan.png) no-repeat;
			background-size:100% 100%;
			top:.09rem;
			right:.1rem;
		}
	}
	h1{
		width:100%;
		height:100%;
		line-height:.44rem;
		text-align:center;
		color:#fff;
	}
}
.main{
	-webkit-flex-grow:1;
	-webkit-flex-shrink:1;
	position:relative;
	section{
		width:100%;
		height:100%;
		position:absolute;
		left:100%;
		&:nth-of-type(1){
			padding:.1rem;
			left:0px; 
			article{
				width:100%;
				border:1px solid #ccc;
				margin-bottom:.2rem;
				&:nth-of-type(2){
					span{
						background:#ccc;
						color:#000;
					}
				}
			}
			img{
				float:left;
				width:100%;
				height:auto;

			}
			span{
				float:right;
				background:#98d04b;
				padding:.05rem;
				padding-left:.1rem;
				padding-right:.1rem;
				color:#fff;
				font-size:.14rem;
				margin-top:.06rem;
				border-radius:.05rem;
				margin-right:.2rem;
			}
			b{
				line-height:.4rem;
				padding-left:.1rem;
			}
		}
		&:nth-of-type(2){
			p{
				width:100%;
				height:1rem;
				border:1px solid #e9e7ef;
				position:relative;
				padding-right:.45rem;
				span{
					display:block;
					width:100%;
					margin-left:.1rem;
					&:nth-of-type(1){
						margin-top:.13rem;
						margin-bottom:.26rem;
					}
					&:nth-of-type(2){
						color:#ccc;
						font-size:.14rem;
					}
				}
				a{
					position:absolute;
					width:.15rem;
					height:.23rem;
					background:url(../img/jjj.png) no-repeat;
					background-size:100% 100%;
					right:.1rem;
					top:50%;
					margin-top:-.12rem;
				}
			}
		}
		&:nth-of-type(3){
			padding:.1rem;
			div{
				padding-bottom:.2rem;
			}
			article{
				width:100%;
				&:nth-of-type(1){
					height:1.92rem;
					margin-bottom:.1rem;
					a{
						float:left;
						height:100%;
						&:nth-of-type(1){
							margin-right:.15rem;
						}
					}
					img{
						float:left;
						height:100%;
						width:auto;
					}
				}
				&:nth-of-type(2){
					height:2.1rem;
					margin-bottom:.1rem;
					a{
						float:left;
						width:100%;
						&:nth-of-type(1){
							margin-bottom:.12rem;
						}
					}
					img{
						float:left;
						width:100%;
						height:auto;
					}
				}
				&:nth-of-type(3){
					height:1.92rem;
					margin-bottom:.1rem;
					a{
						float:left;
						height:100%;
						&:nth-of-type(1){
							margin-right:.15rem;
						}
					}
					img{
						float:left;
						height:100%;
						width:auto;
					}
				}
				&:nth-of-type(4){
					height:2.1rem;
					margin-bottom:.1rem;
					a{
						float:left;
						width:100%;
						&:nth-of-type(1){
							margin-bottom:.12rem;
						}
					}
					img{
						float:left;
						width:100%;
						height:auto;
					}
				}
			}
		}

		&:nth-of-type(4){
			padding-top:.25rem;
			a{
				float:left;
				width:33.33%;
				height:.8rem;
				margin-bottom:.1rem;
				span{
					display:block;
					font-size:.13rem;
					width:100%;
					text-align:center;
					color:#666;
					&:nth-of-type(1){
						width:.5rem;
						height:.5rem;
						margin:0 auto;
						margin-bottom:.06rem;
						img{
							float:left;
							width:100%;
							height:100%;
						}
					}

				}
			}
		}

		&:nth-of-type(5){
			background:#ececec;
			padding-top:.2rem;
			div{
				padding-bottom:.1rem;
			}
			article{
				width:100%;
				height:2.33rem;
				background:#fff;
				padding-top:.07rem;
				p{
					width:100%;
					padding-left:.15rem;
					font-size:.12rem;
					color:#00bc12;
					height:.25rem;
					line-height:.25rem;
					margin-bottom:.15rem;
				}
				a{
					float:left;
					width:33.33%;
					height:.8rem;
					margin-bottom:.1rem;
					span{
						display:block;
						&:nth-of-type(1){
							width:.5rem;
							height:.5rem;
							margin:0 auto;
							margin-bottom:.05rem;
						}
						&:nth-of-type(2){
							width:100%;
							text-align:center;
							font-size:.13rem;
							color:#666;
						}
					}
					img{
						float:left;
						width:100%;
						height:100%;
					}
				}
				margin-bottom:.15rem;
				&:nth-of-type(2){
					height:1.34rem;
				}
				&:nth-of-type(3){
					height:1.34rem;
				}
			}
		}

		&:nth-of-type(6){
			div{
				width:100%;
				height:3.5rem;
				background:#fff;
				position:absolute;
				top:-.44rem;
				left:0px;
				z-index:100;
				padding-top:.4rem;
			}
			p{
				width:100%;
				text-align:center;
				font-size:.13rem;
				color:#666;
			}
			img{
				display:block;
				width:1.6rem;
				height:auto;
				margin:0 auto;
				margin-bottom:.5rem;
			}
			input{
				display:block;
				width:2.88rem;
				height:.5rem;
				margin: 0 auto;
				border:none;
				background:#75bc00;
				font-size:.16rem;
				color:#fff;
				border-radius:.1rem;
				margin-bottom:.2rem;
			}
		}
		&:nth-of-type(7){
			padding:.1rem;
			div{
				padding-bottom:.1rem;
			}
			article{
				width:100%;
				border:1px solid #ccc;
				margin-bottom:.2rem;
				&:nth-of-type(2){
					span{
						background:#ccc;
						color:#000;
					}
				}
			}
			img{
				float:left;
				width:100%;
				height:auto;

			}
			span{
				float:right;
				background:#98d04b;
				padding:.05rem;
				padding-left:.1rem;
				padding-right:.1rem;
				color:#fff;
				font-size:.14rem;
				margin-top:.06rem;
				border-radius:.05rem;
				margin-right:.2rem;
			}
			b{
				line-height:.4rem;
				padding-left:.1rem;
				font-size:0px;
			}
		}

		&:nth-of-type(8){
			p{
				width:100%;
				&:nth-of-type(1){
					img{
						display:block;
						width:100%;
						height:auto;
					}
				}
				&:nth-of-type(2){
					background:#3ED087;
					padding-bottom:.2rem;
					span{
						display:block;
						width:96%;
						margin:0 auto;
						color:#fff;
						padding:.15rem;
						line-height:.22rem;
					}
					a{
						display:block;
						width:60%;
						height:.4rem;
						background:#75bc00;
						line-height:.4rem;
						font-size:.16rem;
						text-align:center;
						color:#fff;
						margin:0 auto;
					}
				}
			}
		}
		&:nth-of-type(9){
			padding:.1rem;
			div{
				padding-bottom:.1rem;
			}
			article{
				width:100%;
				border:1px solid #ccc;
				margin-bottom:.2rem;
				&:nth-of-type(2){
					span{
						background:#ccc;
						color:#000;
					}
				}
			}
			img{
				float:left;
				width:100%;
				height:auto;

			}
			span{
				float:right;
				padding:.05rem;
				padding-left:.1rem;
				padding-right:.1rem;
				font-size:.14rem;
				margin-top:.06rem;
				border-radius:.05rem;
				margin-right:.2rem;
				color:#666;
			}
			b{
				line-height:.4rem;
				padding-left:.1rem;
			}
		}
	}
}