@import url("reset.css");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box; }

a, img {
  -webkit-tap-highlight-color: transparent; }

input:focus {
  outline: none; }

html, body, .box {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-size: 16px; }

.box {
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  width: 100%;
  height: .44rem;
  background: #75bc00;
  position: relative;
  -webkit-flex-shrink: 0; }
  .header a {
    position: absolute;
    width: .25rem;
    height: .25rem; }
    .header a:nth-of-type(1) {
      background: url(../img/home.png) no-repeat;
      background-size: 100% 100%;
      top: .09rem;
      left: .1rem; }
    .header a:nth-of-type(2) {
      background: url(../img/huiyuan.png) no-repeat;
      background-size: 100% 100%;
      top: .09rem;
      right: .1rem; }
  .header h1 {
    width: 100%;
    height: 100%;
    line-height: .44rem;
    text-align: center;
    color: #fff; }

.main {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  position: relative; }
  .main section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%; }
    .main section:nth-of-type(1) {
      padding: .1rem;
      left: 0px; }
      .main section:nth-of-type(1) article {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: .2rem; }
        .main section:nth-of-type(1) article:nth-of-type(2) span {
          background: #ccc;
          color: #000; }
      .main section:nth-of-type(1) img {
        float: left;
        width: 100%;
        height: auto; }
      .main section:nth-of-type(1) span {
        float: right;
        background: #98d04b;
        padding: .05rem;
        padding-left: .1rem;
        padding-right: .1rem;
        color: #fff;
        font-size: .14rem;
        margin-top: .06rem;
        border-radius: .05rem;
        margin-right: .2rem; }
      .main section:nth-of-type(1) b {
        line-height: .4rem;
        padding-left: .1rem; }
    .main section:nth-of-type(2) p {
      width: 100%;
      height: 1rem;
      border: 1px solid #e9e7ef;
      position: relative;
      padding-right: .45rem; }
      .main section:nth-of-type(2) p span {
        display: block;
        width: 100%;
        margin-left: .1rem; }
        .main section:nth-of-type(2) p span:nth-of-type(1) {
          margin-top: .13rem;
          margin-bottom: .26rem; }
        .main section:nth-of-type(2) p span:nth-of-type(2) {
          color: #ccc;
          font-size: .14rem; }
      .main section:nth-of-type(2) p a {
        position: absolute;
        width: .15rem;
        height: .23rem;
        background: url(../img/jjj.png) no-repeat;
        background-size: 100% 100%;
        right: .1rem;
        top: 50%;
        margin-top: -.12rem; }
    .main section:nth-of-type(3) {
      padding: .1rem; }
      .main section:nth-of-type(3) div {
        padding-bottom: .2rem; }
      .main section:nth-of-type(3) article {
        width: 100%; }
        .main section:nth-of-type(3) article:nth-of-type(1) {
          height: 1.92rem;
          margin-bottom: .1rem; }
          .main section:nth-of-type(3) article:nth-of-type(1) a {
            float: left;
            height: 100%; }
            .main section:nth-of-type(3) article:nth-of-type(1) a:nth-of-type(1) {
              margin-right: .15rem; }
          .main section:nth-of-type(3) article:nth-of-type(1) img {
            float: left;
            height: 100%;
            width: auto; }
        .main section:nth-of-type(3) article:nth-of-type(2) {
          height: 2.1rem;
          margin-bottom: .1rem; }
          .main section:nth-of-type(3) article:nth-of-type(2) a {
            float: left;
            width: 100%; }
            .main section:nth-of-type(3) article:nth-of-type(2) a:nth-of-type(1) {
              margin-bottom: .12rem; }
          .main section:nth-of-type(3) article:nth-of-type(2) img {
            float: left;
            width: 100%;
            height: auto; }
        .main section:nth-of-type(3) article:nth-of-type(3) {
          height: 1.92rem;
          margin-bottom: .1rem; }
          .main section:nth-of-type(3) article:nth-of-type(3) a {
            float: left;
            height: 100%; }
            .main section:nth-of-type(3) article:nth-of-type(3) a:nth-of-type(1) {
              margin-right: .15rem; }
          .main section:nth-of-type(3) article:nth-of-type(3) img {
            float: left;
            height: 100%;
            width: auto; }
        .main section:nth-of-type(3) article:nth-of-type(4) {
          height: 2.1rem;
          margin-bottom: .1rem; }
          .main section:nth-of-type(3) article:nth-of-type(4) a {
            float: left;
            width: 100%; }
            .main section:nth-of-type(3) article:nth-of-type(4) a:nth-of-type(1) {
              margin-bottom: .12rem; }
          .main section:nth-of-type(3) article:nth-of-type(4) img {
            float: left;
            width: 100%;
            height: auto; }
    .main section:nth-of-type(4) {
      padding-top: .25rem; }
      .main section:nth-of-type(4) a {
        float: left;
        width: 33.33%;
        height: .8rem;
        margin-bottom: .1rem; }
        .main section:nth-of-type(4) a span {
          display: block;
          font-size: .13rem;
          width: 100%;
          text-align: center;
          color: #666; }
          .main section:nth-of-type(4) a span:nth-of-type(1) {
            width: .5rem;
            height: .5rem;
            margin: 0 auto;
            margin-bottom: .06rem; }
            .main section:nth-of-type(4) a span:nth-of-type(1) img {
              float: left;
              width: 100%;
              height: 100%; }
    .main section:nth-of-type(5) {
      background: #ececec;
      padding-top: .2rem; }
      .main section:nth-of-type(5) div {
        padding-bottom: .1rem; }
      .main section:nth-of-type(5) article {
        width: 100%;
        height: 2.33rem;
        background: #fff;
        padding-top: .07rem;
        margin-bottom: .15rem; }
        .main section:nth-of-type(5) article p {
          width: 100%;
          padding-left: .15rem;
          font-size: .12rem;
          color: #00bc12;
          height: .25rem;
          line-height: .25rem;
          margin-bottom: .15rem; }
        .main section:nth-of-type(5) article a {
          float: left;
          width: 33.33%;
          height: .8rem;
          margin-bottom: .1rem; }
          .main section:nth-of-type(5) article a span {
            display: block; }
            .main section:nth-of-type(5) article a span:nth-of-type(1) {
              width: .5rem;
              height: .5rem;
              margin: 0 auto;
              margin-bottom: .05rem; }
            .main section:nth-of-type(5) article a span:nth-of-type(2) {
              width: 100%;
              text-align: center;
              font-size: .13rem;
              color: #666; }
          .main section:nth-of-type(5) article a img {
            float: left;
            width: 100%;
            height: 100%; }
        .main section:nth-of-type(5) article:nth-of-type(2) {
          height: 1.34rem; }
        .main section:nth-of-type(5) article:nth-of-type(3) {
          height: 1.34rem; }
    .main section:nth-of-type(6) div {
      width: 100%;
      height: 3.5rem;
      background: #fff;
      position: absolute;
      top: -.44rem;
      left: 0px;
      z-index: 100;
      padding-top: .4rem; }
    .main section:nth-of-type(6) p {
      width: 100%;
      text-align: center;
      font-size: .13rem;
      color: #666; }
    .main section:nth-of-type(6) img {
      display: block;
      width: 1.6rem;
      height: auto;
      margin: 0 auto;
      margin-bottom: .5rem; }
    .main section:nth-of-type(6) input {
      display: block;
      width: 2.88rem;
      height: .5rem;
      margin: 0 auto;
      border: none;
      background: #75bc00;
      font-size: .16rem;
      color: #fff;
      border-radius: .1rem;
      margin-bottom: .2rem; }
    .main section:nth-of-type(7) {
      padding: .1rem; }
      .main section:nth-of-type(7) div {
        padding-bottom: .1rem; }
      .main section:nth-of-type(7) article {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: .2rem; }
        .main section:nth-of-type(7) article:nth-of-type(2) span {
          background: #ccc;
          color: #000; }
      .main section:nth-of-type(7) img {
        float: left;
        width: 100%;
        height: auto; }
      .main section:nth-of-type(7) span {
        float: right;
        background: #98d04b;
        padding: .05rem;
        padding-left: .1rem;
        padding-right: .1rem;
        color: #fff;
        font-size: .14rem;
        margin-top: .06rem;
        border-radius: .05rem;
        margin-right: .2rem; }
      .main section:nth-of-type(7) b {
        line-height: .4rem;
        padding-left: .1rem;
        font-size: 0px; }
    .main section:nth-of-type(8) p {
      width: 100%; }
      .main section:nth-of-type(8) p:nth-of-type(1) img {
        display: block;
        width: 100%;
        height: auto; }
      .main section:nth-of-type(8) p:nth-of-type(2) {
        background: #3ED087;
        padding-bottom: .2rem; }
        .main section:nth-of-type(8) p:nth-of-type(2) span {
          display: block;
          width: 96%;
          margin: 0 auto;
          color: #fff;
          padding: .15rem;
          line-height: .22rem; }
        .main section:nth-of-type(8) p:nth-of-type(2) a {
          display: block;
          width: 60%;
          height: .4rem;
          background: #75bc00;
          line-height: .4rem;
          font-size: .16rem;
          text-align: center;
          color: #fff;
          margin: 0 auto; }
    .main section:nth-of-type(9) {
      padding: .1rem; }
      .main section:nth-of-type(9) div {
        padding-bottom: .1rem; }
      .main section:nth-of-type(9) article {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: .2rem; }
        .main section:nth-of-type(9) article:nth-of-type(2) span {
          background: #ccc;
          color: #000; }
      .main section:nth-of-type(9) img {
        float: left;
        width: 100%;
        height: auto; }
      .main section:nth-of-type(9) span {
        float: right;
        padding: .05rem;
        padding-left: .1rem;
        padding-right: .1rem;
        font-size: .14rem;
        margin-top: .06rem;
        border-radius: .05rem;
        margin-right: .2rem;
        color: #666; }
      .main section:nth-of-type(9) b {
        line-height: .4rem;
        padding-left: .1rem; }

/*# sourceMappingURL=main.css.map */
